.loginForm {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 1em;

  padding: 1rem 4rem;
  max-width: 50rem;

  button {
    padding: 0.5em 3em;
    font-size: 1.25rem;
  }
}