.navbar-mainpage-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 383px;
  height: 950px;

  background: var(--clr-black);
  border-radius: 40px 0px 0px 40px;
}

.navbar-mainpage-container .wos-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.navbar-mainpage-container .wos-header img:nth-of-type(1) {
  width: 62px;
  height: 66px;

  filter: drop-shadow(0px 3px 10px rgba(0, 0, 0, 0.4));
}

.navbar-mainpage-container .wos-header h1:nth-of-type(1) {
  width: 192px;
  height: 28px;
  line-height: 28px;

  color: var(--clr-white);
}

.user-profile {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.user-profile img:nth-of-type(1) {
  box-sizing: border-box;

  width: 110px;
  height: 110px;

  background: var(--clr-grayWhite);
  border: 2px solid #f7f7f7;
  border-radius: 50%;
}

.user-profile h1 {
  width: 120px;
  height: 28px;
  font-size: 24px;
  line-height: 28px;
  margin: 10px;
  color: var(--clr-white);
}

.user-profile h2 {
  width: 85px;
  height: 19px;

  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: var(--clr-white);
  margin: 10px;
}

.user-profile button {
  background: url(src/assets/Profile_Settings_Icon.png) no-repeat;
  width: 40px;
  height: 40px;
  border: none;
}

.user-profile button:hover {
  filter: drop-shadow(0px 3px 10px rgba(0, 0, 0, 0.4));
}

.student-counts {
  display: flex;
  flex-direction: row;
}

.total-students {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.total-students img:nth-of-type(1) {
  width: 40px;
  height: 40px;
}

.total-students h1 {
  width: 27px;
  height: 19px;

  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin: 0 0 10px;
  color: var(--clr-white);
}

.total-students h2 {
  width: 56px;
  height: 16px;

  font-weight: 400;
  font-size: 14px;
  line-height: 16px;

  color: var(--clr-white);
}

.active-students {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.active-students img:nth-of-type(1) {
  width: 40px;
  height: 40px;
}

.active-students h1 {
  width: 27px;
  height: 19px;

  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin: 0 0 10px;
  color: var(--clr-white);
}

.active-students h2 {
  width: 56px;
  height: 16px;

  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: var(--clr-white);
}

.main-nav-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 100px;
}

.main-nav-buttons button:nth-of-type(1) {
  width: 257px;
  height: 61px;
  left: 220px;
  top: 510px;

  font-weight: 500;
  font-size: 20px;
  line-height: 23px;

  color: var(--clr-white);
  background: #8d8e92;
  border: none;
  border-radius: 20px;
  filter: drop-shadow(0px 3px 10px rgba(0, 0, 0, 0.4));
}

.main-nav-buttons button:nth-of-type(1):hover {
  background: #aaabad;
}

.main-nav-buttons button:nth-of-type(2) {
  width: 257px;
  height: 61px;
  left: 220px;
  top: 510px;

  font-weight: 500;
  font-size: 20px;
  line-height: 23px;

  color: var(--clr-white);
  background: #8d8e92;
  border: none;
  border-radius: 20px;
  filter: drop-shadow(0px 3px 10px rgba(0, 0, 0, 0.4));

  margin: 15px;
}

.main-nav-buttons button:nth-of-type(2):hover {
  background: #aaabad;
}

.main-nav-buttons button:nth-of-type(3) {
  width: 257px;
  height: 61px;
  left: 220px;
  top: 510px;

  font-weight: 500;
  font-size: 20px;
  line-height: 23px;

  color: var(--clr-white);
  background: #8d8e92;
  border: none;
  border-radius: 20px;
  filter: drop-shadow(0px 3px 10px rgba(0, 0, 0, 0.4));
}

.main-nav-buttons button:nth-of-type(3):hover {
  background: #aaabad;
}

.main-nav-buttons button:nth-of-type(4) {
  width: 257px;
  height: 61px;
  left: 220px;
  top: 510px;

  font-weight: 500;
  font-size: 20px;
  line-height: 23px;

  color: var(--clr-white);
  background: #8d8e92;
  border: none;
  border-radius: 20px;
  filter: drop-shadow(0px 3px 10px rgba(0, 0, 0, 0.4));

  margin: 15px;
}

.main-nav-buttons button:nth-of-type(4):hover {
  background: #aaabad;
}

.logout-rights {
  color: var(--clr-grayWhite);
}
