/* Defines SASS/SCSS Color Variables for the sites palette */

$clr-shade-50: hsl(180deg, 10%, 95%);
$clr-shade-100: hsl(180deg, 11%, 81.5%);
$clr-shade-200: hsl(187deg, 12%, 73%);
$clr-shade-300: hsl(194deg, 13%, 64.5%);
$clr-shade-400: hsl(201deg, 14%, 56%);
$clr-shade-500: hsl(208deg, 15%, 47.5%);
$clr-shade-600: hsl(215deg, 16%, 39%);
$clr-shade-700: hsl(222deg, 17%, 30.5%);
$clr-shade-800: hsl(229deg, 18%, 22%);
$clr-shade-900: hsl(236deg, 19%, 13.5%);
$clr-shade-950: hsl(240deg, 20%, 5%);
